# Compiled:
*.pyc

# Virtual environments:
/venv/*

# Pycharm related:
.idea/
.cache
*__pycache__*

# Test related files:
.coverage
coverage.xml
unittests.xml

# PyLint related files:
./pylint.txt

# Scripts with sensitive info
scripts/generate_doc.py
scripts/testing_gendoc.py

# Databases:
./things_organizer/data/*.db

# Execution files not needed:
./things_organizer/data/reports/CSV/*.csv
./things_organizer/data/reports/TXT/*.txt
./things_organizer/data/reports/labels/*.*
