# Compiled:
*.pyc

# Virtual environments:
venv/*
poetry.lock

# Pycharm related:
.idea/
.cache
*__pycache__*

# Test related files:
.coverage
coverage.xml
unittests.xml

# PyLint related files:
./pylint.txt

# Databases and execution files not needed:
data/*

# Log files
*.log
*.log.?