Flask==1.0.2
Flask-RESTful==0.3.7
flask-sqlalchemy==2.3.2
flask-login==0.4.1
flask-wtf==0.14.2
Flask-Script==2.0.6
Flask-Migrate==2.4.0
ujson==1.35
pylint>=2.2.2
waitress>=1.2.1
PrettyTable==0.7.2
qrcode==6.1
git+http://github.com/ojii/pymaging.git@master#egg=pymaging
git+http://github.com/ojii/pymaging-png.git@master#egg=pymaging-png