waitress>=1.2.1
Flask==1.0.2
Flask-RESTful==0.3.7
flask-sqlalchemy==2.3.2
flask-login==0.4.1
flask-wtf==0.14.3
Flask-Script==2.0.6
Flask-Migrate==2.4.0
ujson==5.4.0
pylint>=2.2.2
pylint-flask==0.6
PrettyTable==0.7.2
qrcode==6.1
pyzbar==0.1.8
pillow>=7.1.0
pytest==4.3.1
pytest-cov==2.6.1
werkzeug==0.16.0
email-validator==1.1.1