    <!-- Sidebar -->
      <ul class="sidebar navbar-nav toggled">
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="/home">-->
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <!--<span>Dashboard</span>-->
          <!--</a>-->
        <!--</li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="/categories">Categories</a>
            <a class="dropdown-item" href="/storages">Storage</a>
            <a class="dropdown-item" href="/tags">Tags</a>
            <h6 class="dropdown-header">Logs:</h6>
            <a class="dropdown-item" href="/logs">View logs</a>
          </div>
        </li>

        {% if 'email' in session %}
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="charts.html">-->
                <!--<i class="fas fa-fw fa-chart-area"></i>-->
                <!--<span>Charts</span></a>-->
            <!--</li>-->
            <li class="nav-item active">
              <a class="nav-link" href="/things">
                <i class="fas fa-fw fa-table"></i>
                <span>Things</span></a>
            </li>
        {% endif %}
      </ul>