{% extends "_base.html" %}

{% block title %}
Things Organizer - Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center pt-4">
        <h3 align="center" class="display-4">What is this?</h3>
    </div>
    <div class="row justify-content-center pt-4">
        <p align="justify" class="lead">
            This is a common question I get from my colleagues and here it goes a quick (I hope) explanation of what
            this application is and what is it for.
        </p>
        <p align="justify" class="lead">
            The idea came from a day I was looking a SOC board like the Raspberry Pi and I could not find it
            due to the mess I had, all boards, cables, equipment, etc. where all around in different boxes and
            different places in my house from my room lab to the garage.
        </p>
        <p align="justify" class="lead">
            So I came up with the idea of develop this application using <a href="http://flask.pocoo.org/">Flask</a> and
            other Python libraries that would let me store information about all the things I have and where they are in
            my house.
        </p>
        <p align="justify" class="lead">
            Doing it I have faced some challenges since I had no clear idea of what to add on the application or not so
            I tried to make it so everybody could use it.
        </p>
        <p align="justify" class="lead">
            Now, I can finally find the thing I'm looking for on the application and it will tell me where I have
            stored that thing. I can also print the label for that item or even for the storage boxes and bags
            I have on different locations(<b>e.g.</b> Garage, Room, etc.).
        </p>
    </div>
    <div class="row justify-content-center pt-4">
        <h3 align="center" class="display-4">Is it Open Source?</h3>
    </div>
    <div class="row justify-content pt-4">
        <p align="justify" class="lead">
            <b>Yes!</b>, from the beggining I wanted everybody to be able to use the application and even modify it to
            his/her needs.
        </p>
        <p align="justify" class="lead">
            The code is hosted on a <a href="https://github.com/yeyeto2788/Things-Organizer/issues">GitHub
            repository</a>
            and you can fork the repository and add more features to it or you can even create an <a
                href="https://github.com/yeyeto2788/Things-Organizer/issues">Issue</a>
            and I'll be more that happy to add more functionality to this application.
        </p>
    </div>

</div>
{% endblock %}