{% extends "_base.html" %}

{% block title %}
Things Organizer - Add new things
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <h3 class="lead">Please, fill the following form and click on the <code>Add</code> button.</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control", placeholder="Enter item name") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_="form-control", placeholder="Enter description") }}
        </div>
        <div class="form-group">
            {{ form.category.label }}
            {{ form.category(class_="form-control", placeholder="Select a category") }}
        </div>
        <div class="form-group">
            {{ form.storage.label }}
            {{ form.storage(class_="form-control", placeholder="Select a storage") }}
        </div>
        <div class="form-group">
            {{ form.unit.label }}
            {{ form.unit(class_="form-control", placeholder="Enter unit used for this item") }}
        </div>
        <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity(class_="form-control", placeholder="Enter quantity") }}
        </div>
        <div class="form-group">
            {{ form.tags.label }}
            {{ form.tags(class_="form-control", placeholder="Enter tags separated by comma") }}
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </div>
            <div class="col-sm-10">
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}