{% extends "_base.html" %}

{% block title %}
  Things Organizer - Add new things
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <div>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          {% for field in form  if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {{ field.label }}
                {{ field(class_="form-control") }}
            </div>
          {% endfor %}
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </form>
    </div>
  {% endif %}
{% endblock %}