<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Things Organizer - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    {{ form.username(class_="form-control") }}
                    <label for="username">User name</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    {{ form.email(class_="form-control") }}
                    <label for="email">Email</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    {{ form.password2(class_="form-control") }}
                    <label for="password2">Confirm password</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <div class="form-label-group">
                    {{ form.password(class_="form-control") }}
                    <label for="password">Password</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <button  type="submit" class="btn btn-primary btn-block">Register</button>
              </div>
            </div>
            <div class="form-group">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages: %}
                    {% if message.startswith('ERROR:') %}
                      <div class="alert alert-danger" role="alert">
                        <li>{{ message.replace('ERROR:', '') }}</li>
                      </div>
                    {% else %}
                      <div class="alert alert-primary" role="alert">
                        <li>{{ message }}</li>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{{ url_for('handle_login') }}">Login Page</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  </body>

</html>
