{% include "_header.html" %}
{% include "_sidebar.html" %}

      <div id="content-wrapper">

        <div class="container-fluid">
          {% if 'email' in session %}
            <div>
            <form action="{{ url_for('handle_storage') }}" method="post">
              <div class="form-group">
                <label for="strStorageName">Storage name</label>
                <input type="text" class="form-control" id="strStorageName" name="strStorageName" placeholder="Storage name">
                <label for="strLocation">Storage location</label>
                <input type="text" class="form-control" id="strLocation" name="strLocation" placeholder="Storage location">
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Add Storage</button>
                </div>
              </div>
            </form>
          </div>
          {% endif%}

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Storage data</div>
            <div class="card-body">
            {% if table_data is none %}
                {% if 'email' in session  and table_data is none %}
                    <h2 align="center">Seems like table does not have data</h2>
                    <p align="center">Try adding items into the table.</p>
                {% else %}
                    <h2 align="center">Seems like you're not logged in.</h2>
                    <p align="center">
                        <a href="/register">Register</a> or
                        <a href="/login">Login</a>.
                    </p>
                {% endif %}
            {% else %}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for row in table_data %}
                      <tr>
                        {% for column in row %}
                          <td>{{ column }}</td>
                        {% endfor %}
                        <td>
                          <a href="/edit/storage/{{ row[0] }}"><i class="fas fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif%}
            </div>
            <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

{% include "_footer.html" %}