{% extends "_base.html" %}

{% block title %}
Things Organizer - Tags
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div>
    <h3 class="lead">Please, fill the following form and click on the <code>Add</code> button.</h3>
    <form action="" method="post">
        <div class="form-group">
            {{form.hidden_tag()}}
            <label for="name">Tag name</label>
            {{ form.name(class_="form-control", placeholder="Enter tag name") }}
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </div>
            <div class="col-sm-10">
            </div>
        </div>
    </form>
</div>
{% endif %}

<!-- DataTables Example -->
<h3 class="lead pb-3 pt-3">All tags are shown below.</h3>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Tag table
    </div>
    <div class="card-body">
        {% if table_data is none %}
        {% if current_user.is_authenticated and table_data is none %}
        <h2 align="center">Seems like table does not have data</h2>
        <p align="center">Try adding items into the table.</p>
        {% endif %}
        {% else %}
        <div class="table-responsive">
            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for row in table_data %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>
                        <a href="/edit/tag/{{ row.id }}"><i class="fas fa-edit"></i></a>
                        <a href="/delete/tag/{{ row.id }}"><i class="fas fa-trash" style="color:red"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
</div>
{% endblock %}