{% include "_header.html" %}
{% include "_sidebar.html" %}


      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Things table</div>
            <div class="card-body">
              {% if table_data is none %}
                {% if 'email' in session  and table_data is none %}
                    <h2 align="center">Seems like table does not have data</h2>
                    <p align="center">Try adding items into the table.</p>
                {% else %}
                    <h2 align="center">Seems like you're not logged in.</h2>
                    <p align="center">
                        <a href="{{ url_for('handle_register') }}">Register</a> or
                        <a href="{{ url_for('handle_login') }}">Login</a>.
                    </p>
                {% endif %}
              {% else %}
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Location</th>
                        <th>Storage</th>
                        <th>Category</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Location</th>
                        <th>Storage</th>
                        <th>Category</th>
                        <th></th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for row in table_data %}
                      <tr>
                        {% for column in row %}
                          <td>{{ column }}</td>
                        {% endfor %}
                        <td>
                          <a href="/edit/thing/{{ row[0] }}"><i class="fas fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
            <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->

{% include "_footer.html" %}